[submodule "aplikacja-testujaca"]
	path = aplikacja-testujaca
        branch = main
        update = merge 
	url = https://github.com/bar-maz-mgr/aplikacja-testujaca.git
[submodule "aplikacja-glowna"]
	path = aplikacja-glowna
        branch = main
        update = merge
	url = https://github.com/bar-maz-mgr/aplikacja-glowna.git
